<template>
    <div>

        <!--Vue Router View Instance-->
        <router-view :key="$route.fullPath"></router-view>
    </div>
</template>

<script>
    import RightSideBar from "./layouts/RightSideBar";
    import LeftSideBar from "./layouts/LeftSideBar";
    import LeftSideBarFixed from "./layouts/LeftSideBarFixed";
    import HeaderNav from "./layouts/HeaderNav";
    import HeaderNavResponsive from "./layouts/HeaderNavResponsive";

    export default {
        name: "App",
        data() {
            return {
                app: APP
            }
        },
        mounted() {
        }
    }
</script>

<style scoped>

</style>
